In [7]:
print('Hello, world!')
print('Hello, world!')
print('Python Programming')

Hello, world!
Hello, world!
Python Programming

In [9]:
13+(22-3)*4

89

In [10]:
13+((22-3)*4)/5

28.2

In [16]:
2**7

128

In [17]:
3**(1/2)

1.7320508075688772

In [18]:
3//2

1

In [19]:
3%2

1

In [20]:
a = 2+3j
b = complex(3,-4)

In [23]:
a. real

2.0

In [25]:
a. imag

3.0

In [32]:
int(3.3)

3

In [33]:
int(104.45)

104

In [34]:
float(3)

3.0

In [35]:
float(4*4)

16.0

In [38]:
int(문자열)

NameError: name '문자열' is not defined

In [45]:
print(int((0.2462*12)+4.159))

7

In [46]:
print("가장", "시끄러운", "층은", "=", "7", "층")

가장 시끄러운 층은 = 7 층

In [54]:
print("가장 시끄러운 층은 = 7층")

가장 시끄러운 층은 = 7층

In [61]:
(53000*24)

1272000

In [62]:
refrige_price = 53000*24
print("냉장고 가격은", refrige_price, "원 입니다")

냉장고 가격은 1272000 원 입니다

In [77]:
price = 66000*250
print("총 지불 해야 할 금액은", price, "원 입니다")

총 지불 해야 할 금액은 16500000 원 입니다

In [92]:
price = 20000*3*250*1.1
print("총 지불 해야 할 금액은", price, "원 입니다")

총 지불 해야 할 금액은 16500000.000000002 원 입니다

In [97]:
print((380*0.6)+225)

453.0

In [98]:
380*0.6+225

453.0

In [99]:
print(380*0.6+225)

453.0

In [100]:
float(380*0.6+225)

453.0

In [101]:
int(380*0.6+225)

453

In [4]:
s6 = "너무" *100+" 파이썬 공부가 즐겁습니다."
print(s6)

너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무 파이썬 공부가 즐겁습니다.

In [29]:
print(s6)
s6 = "너무" *100+" 파이썬 공부가 즐겁습니다."

너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무너무 파이썬 공부가 즐겁습니다.

In [50]:
word = "Python"
# 인덱스는 0부터 시작한다.
print(word [0])
print(word [5])
# 인덱스는 -1부터 시작한다.
print(word [-1])
print(word [-6])

P
n
n
P

In [63]:
sentence = "중요한 것은 꺽이지 않는 마음"
print(sentence [7])

꺽

In [70]:
word = "Python"
print(word[0:2])
print(word[:-3])
print(word[:6])
print(word[:-7])
print(word[:0])
print(word[0:])

Py
Pyt
Python


Python

In [74]:
word = "Python"
print(word[::2])
print(word[1:6:2])

Pto
yhn

In [79]:
sentence = "중요한 것은 꺽이지 않는 마음"
print(sentence[42:])
print(sentence[2:42])
print(sentence[2:15:2])
print(sentence[-1:-15:-2])

한 것은 꺽이지 않는 마음
한것 이 는마
음 않지꺽은

In [116]:
sentence = "중요한 것은 꺽이지 않는 마음"
print(sentence[7:16:1])
print(sentence[7:16])
print(sentence[7:])
print(sentence[-1:-9:-1])
print(sentence[-9::])

꺽이지 않는 마음
꺽이지 않는 마음
꺽이지 않는 마음
음마 는않 지이
꺽이지 않는 마음

In [125]:
sentence = "중요한 것은 꺽이지 않는 마음"
print(sentence[-13:-17:-1])
print(sentence[-13::-1])
print(sentence[-13:])
print(sentence[-13:-16:-1])
print(sentence[-14:-16:-1])
print(sentence[-14:-17:-1])
print(sentence[-14::-1])
print(sentence[-17::-1])
print(sentence[2::-1])
print(sentence[-16:-13])

 한요중
 한요중
 것은 꺽이지 않는 마음
 한요
한요
한요중
한요중

한요중
중요한

In [140]:
sentence = "중요한 것은 꺽이지 않는 마음"
print(sentence[0:3])
print(squares[-13:-17])
print(sentence[0:3] *3)

중요한
[]
중요한중요한중요한

In [131]:
squares = [1**2, 2**2, 3**2, 4**2, 5**2]
print(squares)
print(6**2)
print(squares[0])
print(squares[-1])
print(squares[-3:])

[1, 4, 9, 16, 25]
36
1
25
[9, 16, 25]

In [134]:
print(squares + [36, 49, 64, 81, 100])
letters = ['a', 'b', 'c', 'd', 'e']
print(letters *3)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
['a', 'b', 'c', 'd', 'e', 'a', 'b', 'c', 'd', 'e', 'a', 'b', 'c', 'd', 'e']

In [146]:
cubes = [1, 8, 27, 65, 125]
cubes[3] = 4**3
print(cubes)
letters[3:5] = ["c", "d", "e"]
print(letters)
print(len(letters))

[1, 8, 27, 64, 125]
['a', 'b', 'c', 'c', 'd', 'e']
6

In [152]:
letters = ['a','b','c','d','e']
print(len(letters))
a = ['a','b','c']
n = [1,2,3]
x = [a,n]
print(x)
print(x[0])
print(x[0][1])
print(x[1][1])

5
[['a', 'b', 'c'], [1, 2, 3]]
['a', 'b', 'c']
b
2

In [158]:
numbers = [1,2,3,4,5,6,7]
print(5 in numbers)
print(10 in numbers)

True
False

In [203]:
# [국어, 영어, 한국사, 선택과목1, 선택과목2]
# 한 과목도 60 미만이면 False
scores = (88, 73, 89, 59, 77)
print(scores[0] >= 60 
      and scores[1] >= 60
      and scores[2] >= 60 
      and scores[3] >= 60
      and scores[4] >= 60)

False

In [246]:
numbers = [1,2,3,4,5,6,7,8]
numbers. append(8)
print(numbers)
numbers. remove(1)
print(numbers)
print(numbers.index(3))
print(numbers.pop(1))
print(numbers)
print(numbers.count(0))
numbers.sort()
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 8]
[2, 3, 4, 5, 6, 7, 8, 8]
1
3
[2, 4, 5, 6, 7, 8, 8]
0
[2, 4, 5, 6, 7, 8, 8]

In [247]:
reverse_test = [7,2,1,2,4,8]
reverse_test.reverse()
print(reverse_test)

[8, 4, 2, 1, 2, 7]

In [264]:
stack = [3,4,5]
stack. append(6)
stack. append(7)
print(stack)

print(stack. pop())
print(stack)

print(stack.pop())
print(stack)

print(stack.pop())
print(stack)

[3, 4, 5, 6, 7]
7
[3, 4, 5, 6]
6
[3, 4, 5]
5
[3, 4]
[]

In [266]:
numbers.clear()
print(numbers)

[]

In [267]:
tuple_variable = (1,2,3,4,5, "hello")
tuple_variable[0] = 0

TypeError: 'tuple' object does not support item assignment

In [269]:
tuple_variable[1:3] = ("음", "오")
del tuple_variable[1]

TypeError: 'tuple' object does not support item assignment

In [275]:
t_v2 = "음", "오", "아", "예"
print(type(t_v2))
print(t_v2)

<class 'tuple'>
('음', '오', '아', '예')

In [282]:
import time

start_time = time.time() # 시작하는 시간
test = []

#1,000,000번을 반복해서 tuple만듭니다.
for _ in range(1_000_000):
    tp = (_, _) # tuple    
    test.append(tp)

# 끝나는 시간 = 시작하는 시간    
print(time.time() - start_time)
# 동작한 시간

0.23990726470947266

In [284]:
import number

start_number = number.number()
test = []

for _in range(1000):
    tp = (_,_) 
    test.append(tp)
    
print(number.number() - start_number)

SyntaxError: invalid syntax (809421659.py, line 6)

In [285]:
s1, s2 = ("text1", "text2")
print(s1)
print(s2)

text1
text2

In [292]:
s1, s2, s3 = ("text1", "text2", "text3")
print(s2)
print(s1,s2,s3)

text2
text1 text2 text3

In [295]:
s3,s4,s5 = ["이렇게", "리스트도", "가능합니다."]
print(s3,s4,s5)
print(s4)

s6,s7,s8,s9 = "문자열도"
print(s6,s7,s8,s9)
print(s6)

이렇게 리스트도 가능합니다.
리스트도
문 자 열 도
문

In [312]:
input_value = input("Massge")
input_value2 = input("float")

Massge 전략의 천재
float 1111

In [310]:
print("input_value:", input_value, "\ntype:", type(input_value))

input_value: 전략의 천재
type: <class 'str'>

In [316]:
input_value4 = input("number")

number 1245.68

In [315]:
input_value2 = float(input_value2)
print(input_value2)

input_value = int(input_value2)
print(int(input_value2))

1111.0
1111

In [317]:
input_value4 = int(input("123:"))
print(input_value4)

123: 5

5

In [4]:
input_value = input("이름")
input_value2 = input("인사")
input_value3 = input("환영인사")
input_value4 = input("첫 번째 정수를 입력하세요")
input_value5 = input("두 번째 정수를 입력하세요")
print(300 + 400)

이름 엔코아
인사 안녕하세요 엔코아 씨
환영인사 플레이 데이터 방문을 환영합니다.
첫 번째 정수를 입력하세요 300
두 번째 정수를 입력하세요 400

700

In [21]:
name = input("이름을 입력하시오")
print(name, "씨, 안녕하세요?")
print("파이썬에 오신 것을 환영합니다")

이름을 입력하시오 엔코아

엔코아 씨, 안녕하세요?
파이썬에 오신 것을 환영합니다

In [1]:
location = input("경기장은 어디입니까?")
team = input("이긴 팀은 어디입니까?")
team1 = input("진팀은 어디입니까?")
player = input("우수 선수는 누구입니까?")
score = input("스코어는 몇대몇입니까?")

print("\n")
print("[속보]", team, "가", score, "승리...")
print("오늘", location, "경기장에서", "야구 경기가 있었습니다")
print(team, "와", team1, "는 치열한 공방전을 펼쳤습니다.")
print("이 경기에서", player, "가 맹활약을 했습니다.")
print("그 끝내", team, "가",team1, "를", score, "로 승리하였습니다.")
print("기사 끝")

경기장은 어디입니까? 고척
이긴 팀은 어디입니까? KT
진팀은 어디입니까? LG
우수 선수는 누구입니까? 강백호
스코어는 몇대몇입니까? 10:9

[속보] KT 가 10:9 승리...
오늘 고척 경기장에서 야구 경기가 있었습니다
KT 와 LG 는 치열한 공방전을 펼쳤습니다.
이 경기에서 강백호 가 맹활약을 했습니다.
그 끝내 KT 가 LG 를 10:9 로 승리하였습니다.
기사 끝

In [4]:
result = '1,2,3'. split(',')
print(type(result))
print(result)

<class 'list'>
['1', '2', '3']

In [36]:
result1 = '시:12' . split(',')
result2 = '분:33' . split(',')
result3 = '초:23' . split(',')
print("실행 결과:")
print(result1)
print(result2)
print(result3)

실행 결과:
['시:12']
['분:33']
['초:23']

In [57]:
h, m, s = input("hh:mm:ss의 형태로 시간을 입렵해주세요").split(":")

print("시 :", h)
print("분 :", m)
print("초 :", s)

hh:mm:ss의 형태로 시간을 입렵해주세요 12:23:33

시 : 12
분 : 23
초 : 33

In [3]:
# map() 내장 함수 이용하기 : 객체에서 요소 하나를 꺼내서 사용하고 싶은 경우 사용
# int = 함수, list(map(int, a)) - > int라는 함수를 넣는다 그리고 Map이라는 함수는 괄호 안의 int라는 함수를 적용하는 함수이다. 마지막으로 a는 원하는 결과를 도출하기 위한 시퀀스 이다.
# list는 나열 및 추출을 목표로 하는 함수이다.


a = [1.2, 2.5, 3.7, 4.6]
a = list(map(int, a))
print(a)

[1, 2, 3, 4]

In [1]:
kor, eng, mat, sci = input("국어, 영어, 수학, 과학 점수를 입력해주세요"). split(",")

print("실행 결과")
print((98+100+96+100)/4)

국어, 영어, 수학, 과학 점수를 입력해주세요 98,100,96,100

실행 결과
98.5

In [2]:
kor = input("국어 점수는 몇 점인가요?")
eng = input("영어 점수는 몇 점인가요?")
mat = input("수학 점수는 몇 점인가요?")
sci = input("과학 점수는 몇 점인가요?")
print("실행 결과")
print((98+100+96+100)/4)

국어 점수는 몇 점인가요? 98
영어 점수는 몇 점인가요? 100
수학 점수는 몇 점인가요? 96
과학 점수는 몇 점인가요? 100

실행 결과
98.5

In [15]:
some_str = input('국어, 영어, 수학, 과학 점수를 입력해주세요.')

국어, 영어, 수학, 과학 점수를 입력해주세요. 98,100,96,100

In [20]:
some_str

'98,100,96,100'

In [19]:
type(some_str)

str

print("value", 1, 1.1, [1, 2, 'text'], sep=",")

In [21]:
print("줄이 바뀝니다.")
print("왤까요?")
print("생각해봅시다.")

줄이 바뀝니다.
왤까요?
생각해봅시다.

In [23]:
print("줄이 바뀌지 않습니다.", end= "")
print(" 그 이유는 end=\"\\n\"과 같이 기본 설정된 값을 빈 스트링으로 변경했기 때문입니다.")
print("sep","end는 맨 뒤에 써야하며 둘 간 순서는 상관없습니다.",sep=", ", end="")
print("어떵게 사용하는지", "이해가 되시나요", sep="\n" , end="?")

줄이 바뀌지 않습니다. 그 이유는 end="\n"과 같이 기본 설정된 값을 빈 스트링으로 변경했기 때문입니다.
sep, end는 맨 뒤에 써야하며 둘 간 순서는 상관없습니다.어떵게 사용하는지
이해가 되시나요?

In [30]:
print(year, month, day, end=" ", sep= "/ ")
print(hour, minute, second, sep= " : ")

2021/ 02/ 03 18 : 33 : 23

In [44]:
input(" 사과와 귤은 몇개 드릴까요?")
apple = input("구매한 사과의 개수")
orange = input("구매한 귤의 개수")
apple_price = input("apple 1개 가격") 
orange_price = input("orange 1개 가격")
print("실행결과")
print("총 가격은", [apple*apple_price]+[orange*orange_price], "원 입니다.")

 사과와 귤은 몇개 드릴까요? 10,20
구매한 사과의 개수 10
구매한 귤의 개수 20
apple 1개 가격 1000
orange 1개 가격 200

실행결과

TypeError: can't multiply sequence by non-int of type 'str'

In [ ]:
print("{}" .format(10))
print("{} {} {}" .format(10, 20, 30))
print(

In [51]:
import time

today = """오늘의 날짜를 알려 드립니다.
{}년 {}월 {}일입니다.
""".format(time.localtime().tm_year,
           time.localtime().tm_mon,
           time.localtime().tm_day)
print("today")

AttributeError: 'time.struct_time' object has no attribute 'tm_day'

In [52]:
some_str = "중괄호는 2개이고, {} {}" .format("여기","인수는","3개 입니다.")
print(some_str)

중괄호는 2개이고, 여기 인수는

In [54]:
some_str = "중괄호는 4개이고, {} {} {} {}".format("여기", "인수는", "3개 입니다.")
print(some_srt)

IndexError: Replacement index 3 out of range for positional args tuple

In [55]:
print(f" {10}")
print(f" {10} {20} {30}")
print(f" {101} {202} {303} {404} {505}")

 10
 10 20 30
 101 202 303 404 505

In [58]:
import time

today = f"""오늘의 날짜를 알려드립니다!
{time.localtime(). tm_year}년 {localtime.time(). tm_mon}월 {time.localtime(). tm_mday}일 입니다.
"""

print(today)

NameError: name 'localtime' is not defined

In [59]:
is_great = True
if is_great:
    print("Hello world")

Hello world

In [60]:
print(type(input_value4))

<class 'str'>

In [61]:
print(int)

<class 'int'>

In [65]:
type(input_value4) is int

False

In [76]:
if type(input_value4) is int: 
    print("input_value4는 실수입니다.")
if type(input_value4) is not int:
   print("input_value4는 정수입니다.")

input_value4는 정수입니다.

In [73]:
if type(input_value4) is int:
    print("input_value4는 정수입니다.")

In [77]:
if true :
print("hello")

IndentationError: expected an indented block (1169179570.py, line 2)

In [78]:
# 조건이 맞을 때만 실행하라

a = 100

# a라는 변수의 타입이 int라면 True, int가 아니라면 Flase
if type(a) is int :
    print("a는 정수입니다.")

a는 정수입니다.

In [82]:
b = "10"
print(type(b))

if type(b) is int:
    print("정수입니다.")
    
# 앞의 조건이 전부 Flase인 경우에만 실행되는 부분입니다.
elif type(b) is str:
    print("문자열입니다.")

<class 'str'>
문자열입니다.

In [85]:
b = 10
print(type(b))

if type(b) is int:
    print("정수입니다.")
    
# 앞의 조건이 전부 Flase인 경우에만 실행되는 부분입니다.
elif True:
    print("문자열입니다.")

<class 'int'>
정수입니다.

In [100]:
c = 70 #0~100점수
print("시작")

if c > 90: # C < 90
    print("수")
    
elif c >= 80: # C < 80
    print("우")
    
elif c >= 70: # C < 70
    print("미")
    
print("끝")

시작
미
끝

In [101]:
age = 39

if 20 <= age < 30:
    print("20대 입니다.")
elif 30 <= age < 40:
    print("30대 입니다.")
    
print("감사합니다.")

30대 입니다.
감사합니다.

In [102]:
age = 40

if 20 <= age < 30:
    print("20대 입니다.")
elif 30 <= age < 40:
    print("30대 입니다.")
else:
    print("오우 ... 불혹을 넘기셨군요.")
    
print("감사합니다.")

오우 ... 불혹을 넘기셨군요.
감사합니다.

In [153]:
ID = admin
Grade = 3

if ID == admin:
    print('최고 관리자, 모든 권한을 갖습니다.')
    
elif ID != admin:
    print('제한적인 권한을 갖습니다.')
    
elif Grade == 3:
    print('제한적인 권한을 갖습니다.')
    
else:
    print('권한이 없습니다.')

NameError: name 'admin' is not defined

In [137]:
name = input('아이디를 입력하세요 :')

if name == 'admin' :
    print('최고 관리자, 모든 권한을 갖습니다.')
    
else:
    grade = int(input('회원 등급을 입력해주세요 :'))
    if 1 <= grade <= 3:
        print('제한적인 권한을 갖습니다.')
        
        else:
            print('권한이 없습니다.')

SyntaxError: invalid syntax (863640759.py, line 11)

In [172]:
int_value = int(input("자연수 하나 입력해주세요: "))

result = int_value - 50

if result < 0:
    result = 0
    
print(result)

자연수 하나 입력해주세요:  21

0

In [189]:
# 사용자로부터 자연수를 입력 받습니다.
# 값이 짝수인지 홀수인지 화면에 출력합니다.
# 나의 코딩 방식

number_value = int(input("정수를 하나 입력해주세요:"))

result = number_value

if result % 2 == 0:
    print("짝수 입니다.")
    
elif result % 3 == 0:
    print("홀수 입니다.")
    
else :
    print("모두 해당 됩니다.")

정수를 하나 입력해주세요: 6

짝수 입니다.

In [193]:
# 강사님의 코딩 방식

number = int(input("자연수 하나 입력해주세요:"))

if number % 2 == 0:
    print("짝수입니다.")
else:
    print("홀수입니다.")

자연수 하나 입력해주세요: 21

홀수입니다.

In [221]:
softwaredesign = int(input("소프트 웨어 설계 점수를 입력하세요"))
softwaredevelop = int(input("소프트웨어 개발 점수를 입력하세요"))
databasebuild = int(input("데이터 베이스 구축 점수를 입력하세요"))
programminglanguage = int(input("프로그래밍 언어 점수를 입력하세요"))
databasesystembuild = int(input("데이터베이스 시스템 구축 점수를 입력하세요")) 

if (0 <= softwaredesign <= 100 and 0 <= softwaredevelop <= 100 and 0 <= databasebuild <= 100 and 0 <= programminglanguage <= 100 and 0 <= databasesystembuild <= 100) :
    avg((softwaredesign + softwaredevelop + databasebuild + programminglanguage + databasesystembuild) /5)

소프트 웨어 설계 점수를 입력하세요 60
소프트웨어 개발 점수를 입력하세요 60
데이터 베이스 구축 점수를 입력하세요 60
프로그래밍 언어 점수를 입력하세요 60
데이터베이스 시스템 구축 점수를 입력하세요 60

NameError: name 'avg' is not defined

In [240]:
#물의 온도에 따라 현재 상태를 출력하는 프로그램을 만들려고 합니다.
print("실행 결과")
temperature = float(input("물의 온도를 입력해주세요"))

if(temperature >= 100) :
    prinnt("기체로 예상됩니다.")
    
elif(0 <= temperature < 100) :
    print("액체로 예상됩니다.")
    
elif(temperature < 0):
    print("고체로 예상됩니다.")

실행 결과

물의 온도를 입력해주세요 -0.12

고체로 예상됩니다.

In [234]:
#물의 온도에 따라 현재 상태를 출력하는 프로그램을 만들려고 합니다.
print("실행 결과")
temperature = float(input("물의 온도를 입력해주세요"))

if(temperature >= 100 or 0 <= temperature < 100 or temperature < 0) :
    print("기체로 예상됩니다.")
    print("액체로 예상됩니다.")
    print("고체로 예상됩니다.")
    
# IF를 활용하여 결과를 조금더 쉽게 도출하는 방법을 찾아보기/ IF를 한줄로 표현한는 경우 결과값도 한줄로 표현해서 최종결과는 한가지로 도출이되는 방법은 무엇인지 고민하고 연구하기

실행 결과

물의 온도를 입력해주세요 -0.12

기체로 예상됩니다.
액체로 예상됩니다.
고체로 예상됩니다.

In [235]:
float("1.1")

1.1

In [237]:
int(float('1.1'))

1

In [5]:
#시내 버스 요금을 받는 프로그램을 만들어라/ 성인(19세 이상)이면 1,500원, 청소년(12세~18세)이면 1,100원, 어린이(6~11세)면 800원 미취학 아동은 무료입니다.

print("실행 결과")
age = int(input("자신의 나이를 입력해주세요"))

if(age >= 19) :
    print("1500원 입니다.")
    
if(12 <= age < 19) :
    print("1100원 입니다.")
    
if(6 <= age < 12):
    print("800원 입니다.")
    
if(age < 6):
    print("무료 입니다.")

실행 결과

자신의 나이를 입력해주세요 19

1500원 입니다.

In [4]:
#  강사님의 코딩 방식

print("실행 결과")
age = int(input("자신의 나이를 입력해주세요"))

if(age >= 19) :
    print("1500원 입니다.")
    
elif(12 <= age < 19) :
    print("1100원 입니다.")
    
elif(6 <= age < 12):
    print("800원 입니다.")
    
else :
    print("무료 입니다.")

실행 결과

자신의 나이를 입력해주세요 19

1500원 입니다.

In [45]:
# A사는 B사에 C상품($10/개)을 납품합니다.
#1000개 미만은 수량할인 없다.
# 1000개 ~ 1500개 까지는 5% 할인
# 1500개 초과 2000개 까지는 10% 할인
# 2000개 초과하면 20% 할인
# 나의 코딩 방식

print("실행결과")
salary = int(input("발주 수량을 입력하세요: "))
result = salary
print(result, "개를 주문하셨습니다.")

if(salary < 1000) :
    print("적용 할인율은 없습니다.")
    
elif(999 < salary < 1501) :
    print("적용 할인율은 5% 입니다.")    
    
elif(1500 < salary < 2001) :
    print("적용 할인율은 10% 입니다.")      
 
elif(2000 < salary) :
    print("적용 할인율은 20% 입니다.")  
    
print("총 발주 금액은", "$입니다.")

실행결과

발주 수량을 입력하세요:  2100

2100 개를 주문하셨습니다.
적용 할인율은 20% 입니다.
총 발주 금액은 $입니다.

In [ ]:
# A사는 B사에 C상품($10/개)을 납품합니다.
#1000개 미만은 수량할인 없다.
# 1000개 ~ 1500개 까지는 5% 할인
# 1500개 초과 2000개 까지는 10% 할인
# 2000개 초과하면 20% 할인
# 강사님 코딩 방식 자료보고 완성하기

print("실행결과")
salary = int(input("발주 수량을 입력하세요: "))
result = salary
print(result, "개를 주문하셨습니다.", sep="")

price = 10 # $10/개
rate = 0
order_amount = 0

if(salary < 1000) :
    rate = 0
    
elif(999 < salary < 1501) :
    rate = 5    
    
elif(1500 < salary < 2001) :
    rate = 10      
 
elif(2000 < salary) :
    rate = 20 
    
order_amount = int(PRICE * salary *

In [52]:
# 주민등록번호 뒤자리 7자리 중 맨 앞 번호가 1,3인경우는 남자 but 2,4인 경우는 여자
# 자리수가 7자리가 아니면 '자리수를 잘못 입력했습니다.' 를 출력합니다.
# 맨 앞 번호가 1,2,3,4가 아니면 '잘못된 입력입니다.'를 출력합니다.
#성별확인 프로그램 작성 하기

reg_num = input("주민번호 뒷자리를 입력하세요")
if len(reg_num) != 7:
    print("자리수를 잘못 입력했습니다.")
else:
    fst_num = int(reg_num[0])
    if fst_num in (1, 3):
        print("남자")
    elif fst_num in (2, 4):
        print("여자")
    else:
        print("잘못된 입력입니다.")

주민번호 뒷자리를 입력하세요 123456

자리수를 잘못 입력했습니다.

In [ ]:
#사용자로부터 연도 값을 받고 윤년인지 아닌지 결과를 출력
# 연도가 4로 나누어 떨어지는 경우 : 윤년
# 그 밖의 해는 평년
# 예외 규칙 : 100으로 나누어 떨어지되 400으로 나누어 떨어지지 않는 해 : 평년

reg_num = input("사용자로부터 받은 연도값")
if len(reg_num) ! = 4:
    print("윤년입니다.")
else:
    fst_num = int(reg_num [0])
    if fst_num in()

In [3]:
#나의 코딩 방식
# 연습문제(윤년 문제 풀이과정)
# year%100 ==0 이라는 의미는 100으로 나누어서 떨어지는 수이다.
# year%400 !=0 이라는 의미는 400으로 나누어서 떨어지는 것이 아닌 수이다.
# 위의 풀이과정은 아래의 예시를 참고해서 이해하기

print("실행결과")
year = int(input("확인할 연도를 입력하세요: "))
result = year

if(year%100==0 and year%400!=0):
    print("평년입니다.")
elif(year%4 ==0):
    print("윤년입니다.")
else:
    print("평년입니다.")

실행결과

확인할 연도를 입력하세요:  1900

평년입니다.

In [65]:
1900%100

0

In [66]:
1901%100

1

In [4]:
# 강사님의 코딩 방식
# 예외 규칙은 모두 and로 묶어야 한다.(필수적으로 포함되는 규칙이기 때문이다.)

year = int(input("확인할 연도를 입력하세요:"))

if year % 4 == 0 and (year % 100 != 0 or year % 400 == 0):
    print("윤년입니다.")
else :
    print("평년입니다.")

확인할 연도를 입력하세요: 1990

평년입니다.

In [8]:
# 슬라이싱
a = [0,1,2,3,4,5,6,7]
슬라이상[시작하는 숫자, 끝숫자, 증감]

# 함수를 호출할 때 소괄호를 사용한다.
# 인수(arguments)가 여럿일 때 콤마로 구분한다.
# range(시작하는 숫자(포함)= 0, 끝숫자(미포함), 증감=1)
# range는 규칙된 슛자를 만드는데 특화되어 있다.

SyntaxError: invalid syntax (320350955.py, line 3)

In [9]:
a[0:5:2]

[0, 2, 4]

In [11]:
range(0, 8, 1)

range(0, 8)

In [12]:
range(8)

range(0, 8)

In [17]:
list(range(8)) #iterable
list(range(0, 8)) #iterable
print(list(range(0, 8))) #iterable
# 위의 방식 모두 나오는 값은 똑같다.

[0, 1, 2, 3, 4, 5, 6, 7]

In [18]:
type(range(1))

range

In [22]:
# list vs range가 동작하는 큰 차이점
# list는 큰 메모리 안에 모든 값을 생성해놓고 저장한 상태이다.
# range는 큰 메모리 안에 모든 값을 생성해놓고 저장한 상태는 아니다. 필요할 때 생성하는 것이다.
# for n in range(1000) :  ->range는 0부터 999까지의 숫자를 생성한다.