In [1]:
import pandas as pd

In [2]:
from glob import glob

In [3]:
file_name = glob("datas/Mini Project")
file_name

['datas/Mini Project']

In [4]:
%pwd

'C:\\python'

In [5]:
survey_raw_df = pd.read_csv("datas/Mini Project/visitor_total.csv.csv")
survey_raw_df

Empty DataFrame
Columns: [Unnamed: 0, 방문자 연령, 방문자 수(남성), 방문자 비율(남성), 방문자 수(여성), 방문자 비율(여성), 지역, 기준 월, 연령별 총합]
Index: []

In [6]:
pd.set_option("display.max_rows", 2399)

In [7]:
msg = survey_raw_df

In [8]:
msg.to_csv("visitor_total.csv.csv", index=False)

In [9]:
survey_raw_df = survey_raw_df[survey_raw_df['지역'] == "서울 강남구"]
survey_raw_df

Empty DataFrame
Columns: [Unnamed: 0, 방문자 연령, 방문자 수(남성), 방문자 비율(남성), 방문자 수(여성), 방문자 비율(여성), 지역, 기준 월, 연령별 총합]
Index: []

In [10]:
survey_raw_df.columns

Index(['Unnamed: 0', '방문자 연령', '방문자 수(남성)', '방문자 비율(남성)', '방문자 수(여성)',
       '방문자 비율(여성)', '지역', '기준 월', '연령별 총합'],
      dtype='object')

In [11]:
age20_29 = survey_raw_df['방문자 연령'] == '20~29세'
sungdonggu = survey_raw_df['지역'] == "서울 강남구"

In [12]:
survey_raw_df[age20_29 & sungdonggu ]

Empty DataFrame
Columns: [Unnamed: 0, 방문자 연령, 방문자 수(남성), 방문자 비율(남성), 방문자 수(여성), 방문자 비율(여성), 지역, 기준 월, 연령별 총합]
Index: []

In [13]:
survey_raw_df.groupby(by=["방문자 연령", "지역"]).sum(numeric_only=True)

Empty DataFrame
Columns: []
Index: []

In [14]:
dist_age = survey_raw_df.groupby(['지역', '방문자 연령']).sum()
dist_age

Empty DataFrame
Columns: []
Index: []

In [15]:
dist_age.index

MultiIndex([], names=['지역', '방문자 연령'])

In [16]:
dist_age

Empty DataFrame
Columns: []
Index: []

In [17]:
name_re = {'0~9세':'미성년자',
           '10~19세':'미성년자',
           '20~29세':'청년',
           '30~39세':'청년',
           '40~49세':'중장년',
           '50~59세':'중장년',
           '60~69세':'노년',
           '70세 이상':'노년',}

#특정 행의 index를 바꾸어 주기 위한 변수 설정

In [18]:
survey_raw_df = survey_raw_df.replace(name_re)
# 특정 행의 index를 특정 index로 바꾸는 코딩

In [19]:
dist_age = survey_raw_df.groupby(['지역', '방문자 연령',]). sum()
# 전체 데이터의 총합을 구하는 코딩

In [20]:
dist_age

Empty DataFrame
Columns: []
Index: []

In [21]:
dist_age.drop(['Unnamed: 0','방문자 수(남성)', '방문자 비율(남성)', '방문자 수(여성)', '방문자 비율(여성)'], axis=1)
# 연련병 총합을 제외한 나머지 열을 모두 삭제하는 코딩

KeyError: "['Unnamed: 0', '방문자 수(남성)', '방문자 비율(남성)', '방문자 수(여성)', '방문자 비율(여성)'] not found in axis"

In [ ]:
dist_age1= dist_age.drop(['Unnamed: 0','방문자 수(남성)', '방문자 비율(남성)', '방문자 수(여성)', '방문자 비율(여성)'], axis=1)
dist_age1

In [ ]:
dist_age2 = dist_age1.swaplevel(0, 1, axis=0).sort_index()
dist_age2

In [ ]:
dist_age2.loc[('노년', slice(None))].sort_values("연령별 총합", ascending=False).head(10)

In [ ]:
dist_age2.loc[('청년', slice(None))].sort_values("연령별 총합", ascending=False).head(10)

In [ ]:
dist_age2.loc[('중장년', slice(None))].sort_values("연령별 총합", ascending=False).head(10)

In [ ]:
dist_age2.loc[('미성년자', slice(None))].sort_values("연령별 총합", ascending=False).head(10)

In [ ]:
dist_age1.loc[('서울 중랑구', '노년')]

In [ ]:
pip install folium

In [ ]:
import folium

In [ ]:
folium.Choropleth

In [ ]:
import requests
import json

In [ ]:
map = requests.get('https://raw.githubusercontent.com/southkorea/seoul-maps/master/kostat/2013/json/seoul_municipalities_geo_simple.json')
c = map.content
seoul_geojson = json.loads(c)

In [ ]:
m = folium.Map(location=[37.55, 126.98], zoom_start=11)
# 서울 구 경계 표시
folium.Choropleth(
    geo_data=seoul_geojson,
    fill_color='#22AA44',
    fill_opacity=0.4,
    line_opacity=1,
).add_to(m)

m

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
dist_age3 = dist_age2.loc[('미성년자', slice(None))].sort_values("연령별 총합", ascending=False)
dist_age3

In [ ]:
dist_age3 = dist_age3.reset_index()
dist_age3

In [ ]:
dist_age3

In [ ]:
dist_age3["지역"] = dist_age3["지역"].str.split().str[1]

In [ ]:
dist_age3

In [ ]:
m = folium.Map(location=[37.55, 126.98], zoom_start=11, tiles='cartodbpositron')

# folium.GeoJson(seoul_geo, name = "지역구").add_to(m)

folium.Choropleth(
    geo_data=seoul_geojson,
    data=dist_age3, 
    columns=["지역", "연령별 총합"],
    fill_color='OrRd', # 색상 변경도 가능하다
    fill_opacity=0.7,
    line_opacity=0.5,
    key_on='feature.properties.name',
    legend_name="지역구별 방문객 수", 
).add_to(m)
m

# 미성년자

In [ ]:
dist_age4 = dist_age2.loc[('중장년', slice(None))].sort_values("연령별 총합", ascending=False)
dist_age4

In [ ]:
dist_age4 = dist_age4.reset_index()
dist_age4

In [ ]:
dist_age4

In [ ]:
dist_age4["지역"] = dist_age4["지역"].str.split().str[1]

In [ ]:
dist_age4

In [ ]:
m = folium.Map(location=[37.55, 126.98], zoom_start=11, tiles='cartodbpositron')

# folium.GeoJson(seoul_geo, name = "지역구").add_to(m)

folium.Choropleth(
    geo_data=seoul_geojson,
    data=dist_age4, 
    columns=["지역", "연령별 총합"],
    fill_color='OrRd', # 색상 변경도 가능하다
    fill_opacity=0.7,
    line_opacity=0.5,
    key_on='feature.properties.name',
    legend_name="지역구별 방문객 수", 
).add_to(m)
m

In [ ]:
dist_age5 = dist_age2.loc[('청년', slice(None))].sort_values("연령별 총합", ascending=False)
dist_age5

In [ ]:
dist_age5 = dist_age5.reset_index()
dist_age5

In [ ]:
dist_age5

In [ ]:
dist_age5["지역"] = dist_age5["지역"].str.split().str[1]

In [ ]:
dist_age5

In [ ]:
m = folium.Map(location=[37.55, 126.98], zoom_start=11, tiles='cartodbpositron')

# folium.GeoJson(seoul_geo, name = "지역구").add_to(m)

folium.Choropleth(
    geo_data=seoul_geojson,
    data=dist_age5, 
    columns=["지역", "연령별 총합"],
    fill_color='OrRd', # 색상 변경도 가능하다
    fill_opacity=0.7,
    line_opacity=0.5,
    key_on='feature.properties.name',
    legend_name="지역구별 방문객 수", 
).add_to(m)
m

In [ ]:
dist_age6 = dist_age2.loc[('노년', slice(None))].sort_values("연령별 총합", ascending=False)
dist_age6

In [ ]:
dist_age6 = dist_age6.reset_index()
dist_age6

In [ ]:
dist_age6

In [ ]:
dist_age6["지역"] = dist_age6["지역"].str.split().str[1]

In [ ]:
dist_age6

In [ ]:
m = folium.Map(location=[37.55, 126.98], zoom_start=11, tiles='cartodbpositron')

# folium.GeoJson(seoul_geo, name = "지역구").add_to(m)

folium.Choropleth(
    geo_data=seoul_geojson,
    data=dist_age6, 
    columns=["지역", "연령별 총합"],
    fill_color='OrRd', # 색상 변경도 가능하다
    fill_opacity=0.7,
    line_opacity=0.5,
    key_on='feature.properties.name',
    legend_name="지역구별 방문객 수", 
).add_to(m)
m

In [ ]:
m.save('map.html')