In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv("datas/Mini Project/서울 강동구/2022 4월 강동구 방문자 성연령별 분포.csv",encoding='CP949')
data["지역"] = "서울 강동구"
data["기준연월"] = "2022-01"
# 데이터를 불러오는 방법

In [ ]:
data

   방문자 연령  방문자 수(남성)  방문자 비율(남성)  방문자 수(여성)  방문자 비율(여성)      지역     기준연월
0  70세 이상   174674.0         4.0   138200.0         3.2  서울 강동구  2022-01
1  60~69세   417030.0         9.6   311360.0         7.1  서울 강동구  2022-01
2  50~59세   514402.0        11.8   360778.0         8.3  서울 강동구  2022-01
3  40~49세   485995.0        11.1   291854.0         6.7  서울 강동구  2022-01
4  30~39세   458570.0        10.5   335723.0         7.7  서울 강동구  2022-01
5  20~29세   351208.0         8.1   320383.0         7.3  서울 강동구  2022-01
6  10~19세    82795.0         1.9    77149.0         1.8  서울 강동구  2022-01
7    0~9세    19699.0         0.5    20392.0         0.5  서울 강동구  2022-01

In [6]:
import pandas as pd
from glob import glob

In [7]:
file_name = glob("datas/Mini Project/서울 강동구, 서울 관악구, 서울 금천구, 서울 동대문구, 서울 서대문구, 서울 성북구, 서울 영등포구, 서울 종로구/ *.csv")
total = pd.DataFrame()

for file_name in file_name:
    temp = pd.read_csv(file_name, sep=",", encoding="CP949")
    total = pd.concat([total, temp])
    
total.to_csv("datas/total.csv")
# 데이터의 정의를 만들고 구하고자 하는

In [8]:
file_name = glob("datas/Mini Project")
file_name

['datas/Mini Project']

In [9]:
file_paths = {path: os.listdir for path in paths} # 파일 경로를 설정해서 설정된 경로를 확인 하는 방법 입니다.
file_paths

#"Mini Project/map.html"/+path
# listdir은 위에서 경로를 설정하였기 때문에 추가로 뒤에 입력을 할 필요는 없다.

NameError: name 'paths' is not defined

In [ ]:
total_paths = [] # 전체 경로에 대한 변수 설정
for key, values in file_paths.items():
    for value in values:
        total_paths.append(f'datas/Mini Project/{key}/{value}')

In [ ]:
result = []
for path in total_paths:
    data = pd.read_csv(path, encoding='CP949')
    data["지역"] = path.split('/')[2]
    data["기준 월"] = "년 ".join(path.split('/')[3].split()[:2])[6:]
    result.append(data)
msg = pd.concat(result, ignore_index=True)

#결과값을 도출하는 방법

In [ ]:
pd.set_option("display.max_rows", 768)
#판다스 이용 data 정의하기

In [ ]:
msg = total
# MSG 데이터값을 추출하기

In [ ]:
msg.to_csv("datas/Mini Project/서울시 방문자 연령분포.csv", index=False)

In [ ]:
survey_raw_df = pd.read_csv("datas/Mini Project/visitor3.csv")
survey_raw_df

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
import matplotlib

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
%matplotlib inline

In [ ]:
import seaborn as sns

In [ ]:
fig = plt.figure()

In [ ]:
fig.suptitle('figure sample plots')

In [ ]:
msg

In [ ]:
import pandas as pd

In [ ]:
from glob import glob

In [ ]:
file_name = glob("datas/Mini Project")
file_name

In [ ]:
%pwd

In [ ]:
survey_raw_df = pd.read_csv("datas/Mini Project/visitor_total.csv")
survey_raw_df

In [ ]:
msg = survey_raw_df.drop('Unnamed: 0', axis=1)

In [ ]:
pd.set_option("display.max_rows", 2399)

In [ ]:
msg

In [ ]:
msg.to_csv("visitor_total.csv.csv", index=False)

In [ ]:
msg.columns

In [ ]:
age20_29 = msg['방문자 연령'] == '20~29세'
gangnamgu = msg['지역'] == "서울 강남구"

In [ ]:
msg[age20_29 & gangnamgu ]

In [ ]:
msg.groupby(by=["방문자 연령", "지역"]).sum(numeric_only=True)

In [ ]:
dist_age = msg.groupby(['지역', '방문자 연령',]). sum()
# 전체 데이터의 총합을 구하는 코딩
dist_age

In [ ]:
dist_age

In [ ]:
dist_age.index

In [ ]:
name_re = {'0~9세':'미성년자',
           '10~19세':'미성년자',
           '20~29세':'청년',
           '30~39세':'청년',
           '40~49세':'중장년',
           '50~59세':'중장년',
           '60~69세':'노년',
           '70세 이상':'노년',}

#특정 행의 index를 바꾸어 주기 위한 변수 설정

In [ ]:
dist_age = dist_age.replace(name_re)
# 특정 행의 index를 특정 index로 바꾸는 코딩

In [ ]:
dist_age.drop(['방문자 수(남성)', '방문자 비율(남성)', '방문자 수(여성)', '방문자 비율(여성)'], axis=1)
# 연련병 총합을 제외한 나머지 열을 모두 삭제하는 코딩

In [ ]:
dist_age2 = dist_age1.swaplevel(0, 1, axis=0).sort_index()
dist_age2
#행의 index 항목별로 나열하여 각각의 총합을 도출하는 방법( 노년, 중장년, 청년, 미성년)

In [ ]:
dist_age2.loc[('노년', slice(None))].sort_values("연령별 총합", ascending=False).head(10)
# 서울 지역구 기군 노년층의 연령별 총합을 상위 10위를 선별하여 나열하는 방법

In [ ]:
dist_age2.loc[('청년', slice(None))].sort_values("연령별 총합", ascending=False).head(10)
# 서울 지역구 기군 청년층의 연령별 총합을 상위 10위를 선별하여 나열하는 방법

In [ ]:
dist_age2.loc[('중장년', slice(None))].sort_values("연령별 총합", ascending=False).head(10)
# 서울 지역구 기군 중장년층의 연령별 총합을 상위 10위를 선별하여 나열하는 방법

In [ ]:
dist_age2.loc[('미성년자', slice(None))].sort_values("연령별 총합", ascending=False).head(10)
# 서울 지역구 기군 미성년자의 연령별 총합을 상위 10위를 선별하여 나열하는 방법

In [ ]:
dist_age1.loc[('서울 강남구', '노년')]
# 서울 강남구 노년층의 연령별 총합을 구하는 방법

In [ ]:
pip install folium

In [ ]:
import folium

In [ ]:
folium.Choropleth

In [ ]:
import requests
import json

In [ ]:
map = requests.get('https://raw.githubusercontent.com/southkorea/seoul-maps/master/kostat/2013/json/seoul_municipalities_geo_simple.json')
c = map.content
seoul_geojson = json.loads(c)

In [ ]:
m = folium.Map(location=[37.55, 126.98], zoom_start=11)
# 서울 구 경계 표시
folium.Choropleth(
    geo_data=seoul_geojson,
    fill_color='#22AA44',
    fill_opacity=0.4,
    line_opacity=1,
).add_to(m)

m

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
dist_age3 = dist_age2.loc[('미성년자', slice(None))].sort_values("연령별 총합", ascending=False)
dist_age3

# 미성년자의 연령 총합을 지역구별로 나열하는 방법

In [ ]:
dist_age3 = dist_age3.reset_index()
dist_age3

In [ ]:
dist_age3

In [ ]:
dist_age3["지역"] = dist_age3["지역"].str.split().str[1]

In [ ]:
dist_age3

In [ ]:
dist_age3

In [ ]:
m = folium.Map(location=[37.55, 126.98], zoom_start=11, tiles='cartodbpositron')

# folium.GeoJson(seoul_geo, name = "지역구").add_to(m)

folium.Choropleth(
    geo_data=seoul_geojson,
    data=dist_age3, 
    columns=["지역", "연령별 총합"],
    fill_color='OrRd', # 색상 변경도 가능하다
    fill_opacity=0.7,
    line_opacity=0.5,
    key_on='feature.properties.name',
    legend_name="지역구별 방문객 수", 
).add_to(m)
m

# 미성년자
# color은 오렌지 색에서 빨간색으로 변화하는 의미이다

In [ ]:
dist_age4 = dist_age2.loc[('중장년', slice(None))].sort_values("연령별 총합", ascending=False)
dist_age4

In [ ]:
dist_age4 = dist_age4.reset_index()
dist_age4

In [ ]:
dist_age4

In [ ]:
dist_age4["지역"] = dist_age4["지역"].str.split().str[1]

In [ ]:
dist_age4

In [ ]:
m = folium.Map(location=[37.55, 126.98], zoom_start=11, tiles='cartodbpositron')

# folium.GeoJson(seoul_geo, name = "지역구").add_to(m)

folium.Choropleth(
    geo_data=seoul_geojson,
    data=dist_age4, 
    columns=["지역", "연령별 총합"],
    fill_color='OrRd', # 색상 변경도 가능하다
    fill_opacity=0.7,
    line_opacity=0.5,
    key_on='feature.properties.name',
    legend_name="지역구별 방문객 수", 
).add_to(m)
m
#중장년

In [ ]:
dist_age5 = dist_age2.loc[('청년', slice(None))].sort_values("연령별 총합", ascending=False)
dist_age5

In [ ]:
dist_age5 = dist_age5.reset_index()
dist_age5

In [ ]:
dist_age5

In [ ]:
dist_age5["지역"] = dist_age5["지역"].str.split().str[1]

In [ ]:
dist_age5

In [ ]:
m = folium.Map(location=[37.55, 126.98], zoom_start=11, tiles='cartodbpositron')

# folium.GeoJson(seoul_geo, name = "지역구").add_to(m)

folium.Choropleth(
    geo_data=seoul_geojson,
    data=dist_age5, 
    columns=["지역", "연령별 총합"],
    fill_color='OrRd', # 색상 변경도 가능하다
    fill_opacity=0.7,
    line_opacity=0.5,
    key_on='feature.properties.name',
    legend_name="지역구별 방문객 수", 
).add_to(m)
m
# 청년

In [ ]:
dist_age6 = dist_age2.loc[('노년', slice(None))].sort_values("연령별 총합", ascending=False)
dist_age6

In [ ]:
dist_age6 = dist_age6.reset_index()
dist_age6

In [ ]:
dist_age6

In [ ]:
dist_age6["지역"] = dist_age6["지역"].str.split().str[1]

In [ ]:
dist_age6

In [ ]:
m = folium.Map(location=[37.55, 126.98], zoom_start=11, tiles='cartodbpositron')

# folium.GeoJson(seoul_geo, name = "지역구").add_to(m)

folium.Choropleth(
    geo_data=seoul_geojson,
    data=dist_age6, 
    columns=["지역", "연령별 총합"],
    fill_color='OrRd', # 색상 변경도 가능하다
    fill_opacity=0.7,
    line_opacity=0.5,
    key_on='feature.properties.name',
    legend_name="지역구별 방문객 수", 
).add_to(m)
m

m.save('map.html')